@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Numero:</strong> 809-956-1114<br />
</address>

<address>
    <strong>Correo:</strong>   <a href="jose_garcia0306@hotmail.com">jose_garcia0306@hotmail.com</a><br />
</address>