@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Proyecto Técnico</h1>
    <p class="lead">Este proyecto esta diseñado para demostrar que tengo los conocimientos para poder ser parte de la empresa.</p>
</div>

